.contactTitle {
  margin-top: 10rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;
  color: #000000;
}

@media (max-width: 768px) {
  .contactTitle {
    margin-top: 1rem;
  }
}

.contactq {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  display: flex;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 10rem;

  color: #000000;
}

@media (max-width: 768px) {
  .contactq {
    margin-bottom: 3rem;
  }
}

.chatTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;

  color: #000000;
}

.chatTxt {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.75rem;

  color: #000000;
}

.submitButton {
  width: 11.5rem;
  margin-bottom: 0px;
  background: #ff7070;
  border-radius: 100px;
  height: 2.5rem;
  border: 0px solid transparent;
  color: #ffffff;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}

.submitButton:hover {
  cursor: pointer;
  background: #471f1f;
}