.contactTitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    padding-top: 300px;

    color: #000000;
}



.contactq {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    display: flex;
    font-size: 20px;
    line-height: 30px;


    color: #000000;
}

.chatTitle{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    padding-top: 300px;

    color: #000000;
}

.chatstyle {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  

    color: #000000;
}

.testBox {

}