.aboutus {
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;
  color: #000000;
}

@media (max-width: 768px) {
  .aboutus {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.topimage {
  margin-top: 7rem;
  margin-bottom: 6.5rem;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .topimage {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
}

.aboutustxt {
  margin-top: 10rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 5rem;
}

@media (max-width: 768px) {
  .aboutustxt {
    margin-top: 6rem;
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 24px;
  }
}

.teamtoptext {
  font-family: Poppins;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.teamphoto {
  width: 100%;
  height: auto;
}

.membercontainer {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border: "2px solid red";
}

.membercontainer:hover {
  transform: scale(1.025);
}

.name {
  font-family: Poppins;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.title {
  font-family: Poppins;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
}
