/* media query to give the page a set width above a certain screen width */
@media (min-width: 1285px) {
  .container-fluid {
    max-width: 1280px;
  }
}

body {
  overflow-x: hidden;
}

*:focus {
  outline: none !important;
}

.footer {
  padding-top: 10rem;
}

@media (max-width: 768px)
{
  .footer {
    padding-top: 5rem;
  }
}