.links {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 38px;
  color: #000000;
}

.text {
  font-family: Poppins;
  font-size: 1rem;
  color: #000000;
}

.text:hover {
  color: #808080;
}

.mailingListText {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 51px;
  color: #000000;
}

.mailingListBox {
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 104px;
  width: 80%;
}

::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 212.5%;
  align-items: center;
  color: #c4c4c4;
  padding-left: 1rem;
}

.submitButton {
  margin-left: -7rem;
  margin-top: 0px;
  width: 20%;
  margin-bottom: 0px;
  background: #ff7070;
  border-radius: 104px;
  height: 3rem;
  border: 0px solid transparent;
  transition: 0.3s;
}

.submitButtonText {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.submitButton:hover {
  cursor: pointer;
  background: #471f1f;
}

.mobileinvisible {
}

.logoposition {
  margin-top: 4.75rem;
}

@media (max-width: 768px) {
  .mobileinvisible {
    display: none !important;
  }

  .logoposition {
    margin-top: 1rem;
  }
}
