.links {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 38px;
  color: #000000;
}

.text {
  font-family: Poppins;
  font-size: 1rem;
  color: #000000;
}

.text:hover {
  color: #808080;
}

.mailingListText {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 51px;
  color: #000000;
}

.mailingListBox {
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 104px;
  width: 80%;
}

::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 212.5%;
  align-items: center;
  color: #c4c4c4;
  padding-left: 1rem;
}

.submitButton {
  margin-left: -7rem;
  margin-top: 0px;
  width: 20%;
  margin-bottom: 0px;
  background: #ff7070;
  border-radius: 104px;
  height: 3rem;
  border: 0px solid transparent;
  transition: 0.3s;
}

.submitButtonText {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

#emailbox {
  font-family: Poppins;
  width: 72.5%;
  height: 48px;
  padding-right: 50px;
  border-radius: 50px;
  border: 2px solid #C4C4C4;
  padding-left: 5px;
}

input[type="submit"] { 
  margin-left: -50px;
  height: 48px;
  width: 140px;
  background: #ff7070;
  color: white;
  border: 2px solid #ff7070;
  border-radius: 50px;
  -webkit-appearance: none;
  transition: 0.3s;
}

input[type="submit"]:hover {
  cursor: pointer;
  background: #471f1f;
  border: 2px solid #471f1f;
}

.submitButton:hover {
  cursor: pointer;
  background: #471f1f;
}

.logoposition {
  margin-top: 4.75rem;
}

@media (max-width: 768px) {

  .logoposition {
    margin-top: 1rem;
  }
}
