body {
  margin: 0;
}

.getinvolved {
  margin-top: 10rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;

  color: #000000;
}

@media (max-width: 768px) {
  .getinvolved {
    margin-top: 2rem;
    margin-left: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;

    color: #000000;
  }
}

.getinvolvedsub {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;

  color: #000000;
}

@media (max-width: 768px) {
  .getinvolvedsub {
    margin-left: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
  }
}

.projectteams {
  padding-top: 200px;
  padding-bottom: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  color: #000000;
}

.clientbox {
  width: 100%;
  height: 25rem;
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.clientheader {
  padding-top: 30px;
  padding-left: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.clienttext {
  padding-left: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

@media (max-width: 768px) {
  .clientbox {
    width: 100%;
    background: #ffffff;
    padding-right: 0.1rem;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: flex-start;
  }
}

li {
  margin-left: 25px;
}
.clientreqs {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.mentorbox {
  width: 100%;
  height: 25rem;
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.mentorheader {
  padding-top: 30px;
  padding-left: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.mentortext {
  padding-left: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.mentorreqs {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

@media (max-width: 768px) {
  .mentorbox {
    margin-top: 1rem;
    width: 100%;
    background: #ffffff;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}

.quarterheader {
  padding-top: 100px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.quartertext {
  padding-top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.meetings {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.qtrimagespace {
  margin-top: 10rem;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .qtrimagespace {
    margin-top: 2rem;
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
  }
}

.faqheader {
  padding-top: 100px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  color: #000000;
}

.faqsubheader {
  padding-top: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.faqtext {
  padding-top: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #000000;
}

.readytoapply {
  padding-top: 100px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  color: #000000;
}

.applytext {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;

  color: #000000;
}

@media (max-width: 768px) {
  .applytext {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;

    color: #000000;
  }
}

.applyButton {
  width: 12rem;
  margin-bottom: 0px;
  background: #ff7070;
  border-radius: 100px;
  height: 3rem;
  border: 0px solid transparent;
  color: #ffffff;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}

.applyButton:hover {
  cursor: pointer;
  background: #471f1f;
}
