.imagestyle {
  margin-top: 10rem;
}

@media (max-width: 768px) {
  .imagestyle {
    margin-top: 1rem;
  }
}

.tspcae {
  padding-top: 2rem;
}

.toptext {
  font-family: Poppins;
  font-size: 24px;
  line-height: 36px;
  padding-top: 6rem;
  align-items: center;
}

.subtext {
  font-family: Poppins;
  font-size: 24px;
  line-height: 36px;
}

.txtf {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #000000;
}

@media (max-width: 768px) {
  .txtf {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    line-height: 24px;
    font-size:16px;
  }
}

@media (max-width: 768px) {
  .toptext {
    line-height: 24px;
    font-size:16px;
  }
}

@media (max-width: 768px) {
  .subtext {
    line-height: 24px;
    font-size:16px;
  }
}

.tagtext {
  font-family: Poppins;
  font-size: 24px;
  line-height: 36px;
  margin-top: 10rem;
  color: #000000;
}

@media (max-width: 768px) {
  .tagtext {
    margin-top: 7.5rem;
  }
}

.applybuttontext {
  padding-left: 0rem;
  padding-top: 0.8rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.applyButton {
  width: 12rem;
  margin-bottom: 0px;
  background: #ff7070;
  border-radius: 100px;
  height: 3rem;
  border: 0px solid transparent;
  color: #ffffff;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}

.applyButton:hover {
  cursor: pointer;
  background: #471f1f;
}

.linkstyle {
  color: #ffffff;
  border: 2px solid yellow;
}

.homelogo {
  margin-top: 5rem;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .homelogo {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}

@media (max-width: 768px) {
  .leftimage {
    margin-bottom: 1rem;
  }
}
.leftimage {
  width: 100%;
  height: auto;
}

.rightimage1 {
  width: 100%;
  height: auto;
}

.rightimage2 {
  width: 100%;
  height: auto;
}
