.toptext {
  font-family: Poppins;
  font-size: 24px;
  line-height: 36px;
}

.subtext {
font-family: Poppins;
font-size: 24px;
line-height: 36px;
text-align: center;
}

.homeimg {
width: 510px;
height: 304px;
left: 200px;
top: 1043px;
background: #C4C4C4;
}

.homesimg {
width: 510px;
height: 304px;
background: #C4C4C4;
}

.homelimg {
width: 510px;
height: 633px;
background: #C4C4C4;
}
.mainimg {
width: 265px;
height: 53px;  
color: #000000;
}

.txtf {
width: 473px;
height: 160px;
left: 200px;
top: 430px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;

color: #000000;
}

.tagtext {
font-family: Poppins;
font-size: 24px;
line-height: 36px;
padding-top: 250px;
color: #000000;
}

.pastWorkCard {
width: 333px;
height: 304px;
border: 1px solid #000000;
box-sizing: border-box;
}

.pastWorkCard-logo {
width: 265px;
height: 53px;
font-family: Inconsolata;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 50px;

align-items: center;
text-align: center;
color: #000000;
}

.pastWorkCard-companyName {
width: 277px;
height: 43px;
font-family: Poppins;
font-size: 24px;
line-height: 36px;
align-items: center;
text-align: center;
color: #000000;
}

.pastWorkCard-description {
width: 277px;
height: 76px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
align-items: center;
text-align: center;
color: #000000;
}

.homebox {

display: inline-block;
width: 360px;
height: 300px;
padding-top: 100px;
background: #C4C4C4;
}

.longbox {

display: inline-block;
width: 900px;
height: 300px;
padding-top: 100px;
background: #D3D3D3;

}

.vtbox {

display: inline-block;
width: 500px;
height: 640px;
padding-top: 100px;
background: #D3D3D3;

}

.buttonUi {
background-color: rgb(0,128,0); 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;

}