.projectTitle {
    width: 406px;
    height: 43px;
    padding-top: 222px;
    padding-bottom: 26px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    display: flex;
    align-items: center;
    color: #000000;
}

.projectDesc {
    width: 510px;
    height: 112px;
    padding-top: 26px;
    padding-bottom: 219;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.projectWow {
    padding-top: 219px;
    padding-bottom: 192px;
    width: 510px;
    height: 208px;
    margin-top: 100px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.redWow {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FF7070;
}

.pastWork {
    padding-top: 192px;
    padding-bottom: 26px;
    width: 1034px;
    height: 43px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.pastWorkCard {
    width: 333px;
    height: 304px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.pastWorkCard-logo {
    height: 53px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.pastWorkCard-companyName {
    padding-left: 28px;
    width: 277px;
    height: 43px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.pastWorkCard-description {
    padding-left: 28px;
    width: 277px;
    height: 76px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.greyPlaceHolder {
    padding-left: 20px;
    width: 333px;
    height: 304px;
    background: #C4C4C4;
}