.links {
  width: 219px;
  height: 164px;
  margin-top: 97px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 400px;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;

  color: #000000;
}

.logo {
    width: 8rem;
    margin-top: 1rem;
}

.emailBox {
    top: 157px;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 104px;
    height: 61px;
    width: 510px;
}

.mailingList {
    top: 97px;
    height: 50px;
    width: 530px;
    
}